.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-sizing: border-box;
    display: block;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.depcore-product-image img {
    max-height: 500px;
    width: auto;
    display: block;
    margin-inline: auto;
}

.cta-form {
    padding: min(5%, 50px);
    background-color: #f1f1f1;
    margin-top: min(5%, 50px);
    margin-bottom: min(5%, 50px);
}
.depcore-product-information {
    list-style: none;
    padding: 0;
}
.depcore-product-information li {
    margin: min(10px, 5vh) 0;
}

.greenfox-product-template-default #qodef-page-outer {
    margin-top: 0 !important;
}
.greenfox-product-template-default .qodef-page-title .qodef-m-content {
    padding-top: 0 !important;
}

.greenfox-product-template-default #qodef-page-inner {
    padding-top: 0;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
/*
.products-grid article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s;
    overflow: hidden;
} */

article.hide {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}

.depcore-product-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.depcore-products-categories-links {
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.1;
}

.depcore-filter-button {
    background-color: #68a52f;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 4px 2px;
    cursor: pointer;
}

.depcore-filter-button:hover {
    background-color: #101010;
}

.filtr-item {
    width: 25%;
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden;
    height: 430px;
}

@media screen and (max-width: 768px) {
    .filtr-item {
        width: 50%;
    }
    .qodef-m-title.entry-title {
        font-size: 2rem;
    }
}
@media screen and (max-width: 468px) {
    .filtr-item {
        width: 90%;
    }
}

.filtr-item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 10px;
}

.badges {
    display: flex;
    position: absolute;
    right: 0;
    top: -30px;
    max-width: 90vw;
}

.badges img {
    height: 80px;
    max-height: 10vh;
    flex-basis: 33%;
    max-width: 33vw;
    object-fit: contain;
}
.qodef-portfolio-content {
    max-width: 96vw;
}
